<main class="flex h-screen w-full p-4">
	<div class="mx-auto flex h-full w-full max-w-7xl flex-col items-center justify-center gap-4">
		<div class="w-full">
			<label class="ms-1 text-sm" for="select">Escolha suas classes Tailwind CSS</label>
			<select
				[formControl]="select"
				class="text-foreground placeholder:text-muted-foreground selection:bg-primary selection:text-primary-foreground border-input focus-visible:border-ring focus-visible:ring-ring/50 aria-invalid:ring-destructive/20 aria-invalid:border-destructive flex h-9 w-full min-w-0 rounded-md border bg-transparent px-3 py-1 text-base shadow-xs transition-[color,box-shadow] outline-none focus-visible:ring-[3px] disabled:pointer-events-none disabled:cursor-not-allowed disabled:opacity-50 md:text-sm"
			>
				<option class="text-background" value="">Selecione uma opção</option>
				@for (sample of sampleClasses; track $index) {
					<option class="text-background" [value]="sample">
						{{ sample }}
					</option>
				}
			</select>
		</div>
		<div class="w-full">
			<app-sample [twClass]="twClass()" />
		</div>
	</div>
</main>
